body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}
#root,body,html {
  height: 100%;
}
.btnStart {
  width: 200px;
  height:100px;
  background-color: rgb(223, 182, 182);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:16px;
  font-weight: 500;
  color: #000;
  border: none;
  cursor: pointer;
}
.todoList {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.prepare{

  display:flex;
  flex-direction: column;
  position: relative;
  background-color:rgb(246,226,227);
  border-style: solid;
  border-width: 0px;
  border-color: rgb(34, 207, 135);
  width:30vw;
  height:70%;
  overflow: auto;
}
.doing{
  display:flex;
  flex-direction: column;
  position: relative;
  background-color:rgb(194, 253, 189);
  border-width: 0px;
  width:30vw;
  height:70%;
  border-style: solid;
  border-color: rgb(207, 83, 83);
  overflow: auto;
}
.complete{
  display:flex;
  flex-direction: column;
  position: relative;
  background-color:rgb(160, 160, 160);
  border-style: solid;
  border-width: 0px;
  border-color: rgb(93, 87, 209);
  width:30vw;
  height:70%;
  overflow: auto;
}
.add{
  user-select: none;
  cursor: pointer;
  margin: 10px auto;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 60px;
  line-height:40px;
  background-color: #fff;
  color:rgb(241, 176, 176);
  border: 5px solid rgb(241, 176, 176);
  border-radius: 50%;
  text-align: center;
  vertical-align:middle;
}
.event{
  position: relative;
  display: block;
  width:95%;
  min-height:40px;
  background-color:#fff;
  border:2px solid #000;
  margin:5px;
  line-height: 40px;
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  left:0px;
  top: 0px;
  white-space: pre-wrap;
}
input{
  position: relative;
  width:95%;
  padding:0;
  display: block;
  height:40px;
  background-color:#fff;
  border:2px solid #000;
  margin:5px;
  line-height: 40px;
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title-pre{
  background-color:rgb(246,226,227);
  width:100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 20px solid #fff;
  font-weight: 900;
}
.title-do{
  background-color:rgb(194, 253, 189);
  width:100%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-bottom: 20px solid #fff;
  font-weight: 900;
}
.title-done{
  background-color:rgb(160, 160, 160);
  width:100%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-bottom: 20px solid #fff;
  font-weight: 900;
}


.del{
  cursor: pointer;
  line-height: 20px;
  display: none;
  position: absolute;
  color: red;
  width:20px;
  height:20px;
  border: 2px solid red;
  border-radius: 50%;
  background-color:#fff;
  top: -10px;
  right:-10px;
}
.event:hover .del{
  display:block
}
.del:hover{
  display:block
}
.list{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height:100%;
}
.addButton{
  display: flex;
  width: 60px;
  height: 60px;
  margin :0 auto;
}